h1 {
    font-family: arial;
    text-align: center;
    font-size: 100px;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    align-items: center;
    justify-items: center;
}

.grid-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

button {
    width: 80%;
    max-width: 500px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    font-family: "Arial";
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}

#start {
    background-color: green;
    border: 5px solid darkgreen;
}

#start:hover {
    background-color: darkgreen;
    border: 5px solid green;
}

#stop {
    background-color: red;
    border: 5px solid darkred;
}

#stop:hover {
    background-color: darkred;
    border: 5px solid red;
}

#reset {
    background-color: blue;
    border: 5px solid darkblue;
}

#reset:hover {
    background-color: darkblue;
    border: 5px solid blue;
}
